@mixin flex_dir_align_justify ($dir, $align, $justify) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
}

@mixin size_weight_height_color ($size, $weight, $height, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}

@mixin media($maxBreakpoint, $minBreakpoint) {
    @media (min-width: $minBreakpoint) and (max-width: $maxBreakpoint) {
        @content
    }
}
  